div.create-form
	div.form-group
		input.form-input(
			placeholder="Title"
			type="text"
			v-model="article.title")
	div.form-group
		textarea.form-input(
			placeholder="Content"
			rows="3"
			v-model="article.body")
div.text-right
	button.btn.btn-primary(
		v-show="!editing"
		v-on:click="create") Post
	button.btn.btn-primary(
		v-show="editing"
		v-on:click="edit") Edit